# LEGO Mindstorms EV3 device drivers

menuconfig LEGOEV3_DRIVERS
	tristate "LEGO Mindstorms EV3 support"
	depends on MACH_DAVINCI_LEGOEV3
	help
	  This enables platform specific drivers for the LEGO Mindstorms EV3
	  hardware.

if LEGOEV3_DRIVERS

config LEGOEV3_ANALOG
	tristate "Analog device support"
	default y
	help
	  Select Y to enable the EV3's built-in analog/digital converter.

config LEGOEV3_BLUETOOTH
	tristate "On-board Bluetooth"
	default y
	depends on PWM && GPIOLIB
	help
	  Select Y to enable on-board bluetooth on the LEGO Mindstorms EV3.

config LEGOEV3_DEV_PORTS
	tristate "Support for devices connected to the EV3 ports"
	default y
	help
	  Select Y to provide support for devices that plug into the input
	  and output ports of the EV3.

config LEGOEV3_OUTPUT_PORT
	tristate "Output port driver"
	default y
	depends on LEGOEV3_DEV_PORTS && LEGOEV3_ANALOG && GPIOLIB && PWM
	help
	  Select Y to enable the driver for the EV3 output ports.

config LEGOEV3_INPUT_PORT
	tristate "Input port driver"
	default y
	depends on LEGOEV3_DEV_PORTS && LEGOEV3_ANALOG && GPIOLIB
	help
	  Select Y to enable the driver for the EV3 input ports.

config LEGOEV3_MSENSORS
	tristate "Mindstorms sensors support"
	default y
	help
	  Select Y to enable support for Mindstorms sensors. Provides a common
	  device class interface for most types of sensors (UART sensors,
	  LEGO-approved I2C sensors and analog sensors).

config LEGOEV3_TOUCH_SENSORS
	tristate "Touch sensors"
	default y
	depends on LEGOEV3_INPUT_PORT && LEGOEV3_MSENSORS
	help
	  Select Y to enable the driver for the NXT and EV3 touch sensors.

config NXT_LIGHT_SENSOR
	tristate "NXT Light Sensor driver"
	default y
	depends on LEGOEV3_INPUT_PORT && LEGOEV3_MSENSORS
	help
	  Select Y to enable the driver for the LEGO NXT Light sensors.

config NXT_ANALOG_SENSOR
	tristate "NXT analog Sensor driver"
	default y
	depends on LEGOEV3_INPUT_PORT && LEGOEV3_MSENSORS
	help
	  Select Y to enable a generic driver for the NXT analog sensors.

config LEGOEV3_I2C_SENSORS
	tristate "I2C sensor support"
	default y
	depends on LEGOEV3_INPUT_PORT && I2C_LEGOEV3 && LEGOEV3_MSENSORS
	help
	  Select Y to enable support for NXT I2C sensors.

config LEGOEV3_UART_SENSORS
	tristate "EV3 UART sensor support"
	default y
	depends on LEGOEV3_INPUT_PORT && SERIAL_SUART_OMAPL_PRU && LEGOEV3_MSENSORS
	help
	  Select Y to enable support for EV3 UART sensors.

config LEGOEV3_MOTORS
	tristate "EV3 motor suppport"
	default y
	depends on LEGOEV3_OUTPUT_PORT
	help
	  Select Y to enable support for EV3 motors. Provides a common device
	  class interface for LEGO EV3 and NXT compatible motors.

config LEGOEV3_TACHO_MOTORS
	tristate "EV3 tacho motor suppport"
	default y
	depends on LEGOEV3_MOTORS
	help
	  Select Y to enable support for LEGO EV3 and NXT tacho motors.


endif #LEGOEV3_DRIVERS
