
config BOARD_INFO
  tristate "Support for board info subsystem"
  help
    This enables the board info subsystem.

config BONE_BOARD_INFO
  tristate "Support for BeagleBone board info"
  depends on BOARD_INFO && NVMEM
  help
    This enables board info driver for BeagleBone.

config RPI_BOARD_INFO
  tristate "Support for Raspberry Pi board info"
  depends on BOARD_INFO
  help
    This enables board info driver for Raspberry Pi.

config FB_ST7586_EV3DEV
	tristate "ST7586 framebuffer support"
	depends on FB && SPI
	select FB_SYS_FILLRECT
	select FB_SYS_COPYAREA
	select FB_SYS_IMAGEBLIT
	select FB_SYS_FOPS
	select FB_DEFERRED_IO
	help
	  This driver implements support for the ST7586 display controller
	  in SPI mode.

config IIO_HRTIMER_TRIGGER_EV3DEV
  tristate "High resolution timer trigger"
  help
    Provides a frequency based IIO trigger using high resolution
    timers as interrupt source.

    To compile this driver as a module, choose M here: the
    module will be called iio-trig-hrtimer.

config TI_ADS79XX_EV3DEV
    tristate "Texas Instruments ADS795X/ADS796X ADC driver"
    depends on SPI
    select IIO_BUFFER
    select IIO_TRIGGERED_BUFFER
    help
      Say yes here to build support for Texas Instruments ADS7950, ADS7951,
      ADS7952, ADS7953, ADS7954, ADS7955, ADS7956, ADS7957, ADS7958, ADS7959.
      ADS7960, ADS7961.

      To compile this driver as a module, choose M here: the
      module will be called ti-ads79xx.
